{% extends 'base.html' %}
{%  load humanize %}

{% block content %}
 			<div class="row">
 				<div class="col-sm-2 col-md-12" id = "Title">
 					
 					
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-sm-3 col-md-12" id = "Products">
 					<div class="table-responsive">
				   <table class="table">
				      <caption><h1>Bought so far</h1></caption>
				      <thead>
				         <tr>
				            <th>I took</th>
				            <th>number of</th>
				            <th>cost</th>
				            <th>Total</th>
				            <th></th>
				         </tr> 
				      </thead>
				      <tbody>
				      	{% for product_selection_row in procduct_selection_rows %}
				         <tr>
				            <td>{{ product_selection_row.product_name}}</td>
				            <td>{{ product_selection_row.number_of_selected_items}}</td>
				            <td>{{ product_selection_row.unit_price}} </td>
				            <td>{{ product_selection_row.total_price}}</td>				            
				         </tr>
				         {% endfor %}
				         <tr>
				            <td></td>
				            <td></td>
				            <td>Total</td>
				            <td>{{cart.get_total_price}} {{cart.shop.currency_name}}</td>				            
				         </tr>
				      </tbody>
				   </table>
				   Remaining {{cart.get_ramaining_customer_credit}} {{cart.shop.currency_name}}
				   <a class="btn btn-success"  href="{% url 'memecache:products_list' cart.shop.id %}">Buy more</a>
				   <a class="btn btn-info"  href="{% url 'memecache:cart_checkout' cart.id %}">Add to my rewards</a>
				</div> 
 			</div>
 		</div>
 			
{% endblock %}


