{% extends 'base.html' %}
{% load i18n %}

{% load humanize %}

{% block content %}
    <div class="row">
    	<br>
    	<br>
    	<center>
    	<div class="well col-sm-12 col-md-3">
	    	<br>
	    	<center><h1>{{ item_voucher.product.title }}</h1>
	    		<br><br>Identifier {{item_voucher.id}}</center>
	    	<br>
	    	<br>    	
	    	<br>
	    	<br>    	
	    	{% if item_voucher.used %}
	    		{% if just_used%}
	    			<h1> Vaucher accepted </h1>
	    		{% else %}
	    			Had been already recived before  {{ item_voucher.updated_at | naturaltime }}
	    		{% endif %}
	    	{% else %}
	    		{% if item_voucher.product.can_use %}
	    			{% if item_voucher.product.end_of_use_at %}
	    			Shall not be availabale in {{ item_voucher.product.end_of_use_at | naturaltime }}
	    			{% endif %}
	    			<center>
	    			{% if user == item_voucher.shop.admin_user %}
	    			<a class="btn btn-info"
	                       href="{% url 'memecache:item_voucher_use' item_voucher.id %}">
	                       Accept</a>
	    			{% endif %}
	    			{% if user == item_voucher.customer %}
	    			<a class="btn btn-info "
	                       href="{% url 'memecache:item_voucher_send' item_voucher.id %}">
	                       Use</a>
	    			{% endif %}
	    			</center>
	    		{% else %}
	    		Already used
	    	  	{% endif %}
	    	
	    	{% endif %}
	    	
    	</div>	
    	</center>
    </div>

{% endblock %}