{% extends 'base.html' %}
{%  load humanize %}

{% block content %}
 			<div class="row">
 				<br>
 				<br>
 				<br>
  				<div class="col-sm-2 col-md-12" id = "Title">
 					{% if  shop.admin_user == user  %}
                                    <td><a class="btn btn-success" href="{% url 'memecache:product_create'  shop.id %}">
                                    להוסיף מוצר</a> 
                                    </td>
                                    <td><a class="btn btn-success" href="{% url 'memecache:shop_update'  shop.id %}">
                                    לערוך את החנות</a> 
                                    </td>
                                    {% endif %}
 				</div>
 			</div>
 			
 			<div class="row">
 				<div class="col-sm-3 col-md-12" id = "Products">
 					<div class="table-responsive">
				   <table class="table">
				      <caption><h1>מה אפשר לקנות ב{{shop.title}}?</h1></caption>
				      <thead>
				         <tr>
				            <th></th>
				            <th>Cosr</th>
				            <th>Remaining</th>
				            <th>End of sale</th>
				            <th></th>
				         </tr>
				      </thead>
				      <tbody>
				      	{% for product in product_list %}
				         <tr>
				            <td>{{ product.title}}</td>
				            <td>{{ product.item_price}} {{shop.currency_name}} </td>
				            <td>{{ product.get_number_of_availabale_items}}</td>
				            <td>
				            	 {% if  product.can_buy  %}
				            	 	{% if product.end_of_sale_at %}
				            	 		{{ product.end_of_sale_at |naturaltime }}
				            	 	{% else%}
				            	 		No limit
				            	 	{% endif %}
				            	 {% else%}
				            	 	Not availabale
				            	 {% endif %}
				            </td>
				            <td><a class="btn btn-success" href={{ product.get_absolute_url }}>
                                    Details</a>                                     				            	
				            	</td>
				         </tr>
				         {% empty %}
				         <tr>None</tr>
					    	</tbody>
				         {% endfor %}
				      </tbody>
				   </table>
				   <br>
				   <a class="glyphicon glyphicon-shopping-cart"
                       href="{% url 'memecache:cart_details' cart.id %}">
                       Checkout</a>
                       <br>
                       <br>
                       <br>
				</div> 
 			</div>
 			
{% endblock %}


