{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>

        <div class="container" >
			
 			<div class="row">
                <div class="col-sm-1 col-md-12" id = "EarnPrizes">
                	               	
                	
                </div>
            </div>   
            <div class="row">
                	<center>
                	<br>
                	<br>
                	    
                		<a class="btn btn-success"  href="{% url 'memecache:instructions' %}">How to earn {{shop.currency_name}} ?</a>
                	</center>
            </div>         
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "Shop">
                	<br>
                	<br>
                	<center><a class="btn btn-success"  href="{% url 'memecache:products_list'  shop.id %}">Select awards{{shop.title}}</a></center>
                </div>
            </div>         
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">
                	<br>
                	<br>
                	<center><a class="btn btn-success"  href="{% url 'memecache:prize_bag' %}">Use my awards</a></center>
                </div>
            </div>   
                	<br>
                	<br>
            		<center>
            			<a class="btn btn-success" align ="center" href="{% url 'memecache:users_list'  %}">Community members</a>
            		</center>
		


{% endblock %}

