{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>

        <div class="container" >
			
 			   
                    
 			   
            <div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">
                	<br>
                	<br>
                <a class="btn btn-success"  href="{% url 'memecache:instructions' %}">How to earn {{shop.currency_name}} ?</a>
                </div>
            </div><div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">
                	<br>
                	<br>
                	<a class="btn btn-success"  href="{% url 'memecache:products_list'  shop.id %}">Select awards for {{shop.title}} members</a>
                </div>
            </div>    
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">
                	<br>
                	<br>
                	<a class="btn btn-success"  href="{% url 'memecache:prize_bag' %}">Use my awards</a>
                </div>
            </div>   
 
		</div>


{% endblock %}

