{% extends 'base.html' %}
{%  load humanize %}

{% block content %}
<script>

    function search_by_text(text) {
        window.location.replace("{% url 'memecache:users_list'  %}" + "?search_text=" + document.getElementById("myInput").value);
   }


</script>
 			<div class="row">
                 <br />
                 <br />
                 <br />
                 <input type="search" id="myInput"  placeholder="Search in members" title="partial text" 
                        
					{% if search_text %}                                            
                        value={{search_text}}
					{% endif %}
                        
                        >
                 <button onclick="search_by_text();">Search</button>

 				<div class="col-sm-3 col-md-12" id = "UserList">					
 					<br>
					{% if tags_list %}
				        {% for tag in tags_list %}
				        <a class="btn btn-primary " href="{% url 'memecache:users_tag_list'  tag.id %}">{{ tag.name }}</a>
				    		
						{% endfor %}
					{% endif %}
 					<br>
 					<h1><center>{{page_name}}</center></h1>
 					<br>
            

 					<br>
 				<div class="table-responsive">
				   <table class="table">
				      <caption></caption>
				      <thead>
				         <tr>
				            <th><center>Rated</center></th>
				            <th>member</th>
				            <th>scored
                             <br />
                             ({{currency_name}})
                             </th>
				            <th></th>
				            <th></th>
				         </tr>
				      </thead>
				      <tbody id="myUL">

				      	{% for user_row in users_rows_list %}
				         <tr>
				         	<td><center>{{user_row.place}}</center></td>
				            <td><a  href="{% url 'coplay:user_coplay_report'  user_row.user.username %}">{{ user_row.user.get_full_name|default:user_row.user.username }}</a></td>
				            <td>{{ user_row.total_earn}} </td>
				            <td><p>{{ user_row.description|urlize|linebreaks}}</p> </td>
				            <td><p>
                                {% if user_row.location_desc %}
            	                	<a href="https://www.google.co.il/maps/place/{{ user_row.location_desc}}" target="_blank">{{ user_row.location_desc}}</a> 
                                {% endif  %}
                                </p> </td>
                                
				         </tr>
				         {% empty %}
				         <tr>
					    	
				         {% endfor %}
						 </tr>

				      </tbody>
				   </table>
				</div> 
 			</div>
 			
{% endblock %}


