#ignore thumbnails created by windows
Thumbs.db
#ignore by django
*.sqlite3
*.log
*.pot
#ignore thumbnails created by windows
Thumbs.db
#ignore python
*.pyc
.project
.pydevproject
desktop.ini
local_settings.py
kuterless/db.sqlite3
kuterless/.pydevproject
desktop.ini
!kuterless/media/audio_messages
kuterless/media
!kuterless/media/audio_messages
.idea
*.prefs
__pycache__
kuterless/coplay/migrations
*.config
*.xls
*.xlsx
*.csv




