<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Projects\NeuroNet\backend\neuronet\envdjango2_2_7\scripts\python.exe|%D:\Projects\NeuroNet\backend\neuronet\envdjango2_2_7\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <cgi createProcessAsUser="false" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="3000000000" />
            </requestFiltering>
        </security>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="NeuroNet.wsgi.application" />
    <add key="PYTHONPATH" value="D:\Projects\NeuroNet\Backend\NeuroNet" />

    <!-- Optional settings -->
	<add key="WSGI_LOG" value="D:\Projects\NeuroNet\Backend\NeuroNet\my_app.log" />
   
    <add key="DJANGO_SETTINGS_MODULE" value="NeuroNet.settings" />
    
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        <serverRuntime uploadReadAheadSize="214748364" />
        </system.webServer>
    </location>
    <system.web>
        <httpRuntime maxRequestLength="4096000" />
    </system.web>
</configuration>
