{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>
        מוצר חדש
    </h1>

    <div class="alert alert-success">
    	מתנה /מחווה/שרות שבעל החנות מוכן לספק
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'memcashe:add_discussion' %}"
                  method="post">
                {% csrf_token %}
                {{ form }}

                <div class="alert alert-warning">{% trans "Please notice: To keep this activity unlocked, new tasks must be created at least once per week." %}</div>

                <input type="submit" value="{% trans "Let's play" %}"/>

            </form>

        </div>
    </div>


{% endblock %}

