{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>

        <div class="container" >
			
            <div class="row">

	        	<div class="col-sm-2 col-md-12" id = "Header">
	
	            	<center>
	            		<h1>{{ page_name}} 
	            			{% if user !=  applicabale_user %}
		            			{% if is_following %}                
		     		           		<a class="new btn btn-warning" href="{% url 'coplay:stop_follow_user'  applicabale_user.username %}">stop follow</a> 
		                		{% else %}
		            	    		<a class="new btn btn-danger" href="{% url 'coplay:start_follow_user'  applicabale_user.username %}">start follow</a>   
		                		{% endif %}
	                		{% endif %}
	            		</h1>
	            	    {% if description%}
	            	    <p>{{ description|urlize|linebreaks }}</p>
	            	    {% endif %}
	            	    {% if followed_discussions_tags%}
	            	    interested in 
						{% for tag in followed_discussions_tags %}
                			<a class="btn btn-primary " href="{% url 'coplay:discussion_tag_list'  tag.id %}">{{ tag.name }}</a>
		        		{% endfor %}
		        		<br>
		        		{% endif %}
	                {% if location_desc  %}
	                	<p><a href="https://www.google.co.il/maps/place/{{location_desc}}" target="_blank">{{location_desc}}</a></p> 
	                {% endif %}      
	            	    
	            		{{number_of_closed_tasks}} achived tasks
	            	    {{number_of_closed_tasks_for_others}}  for other members 
	            	    {{number_of_aborted_tasks}}  canceled on time tasks 
	            	    {{number_of_task_closing}} approving tasks
	            	    {{number_of_feedbacks}} comments
	            	    {{number_of_votes}} votes
	            	    {{number_of_views}} views
	            	</center>
	            	<br>
					<center>
						<a class="btn btn-success" href="#UserUpdates">
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your{% endif %}
                        updates</a>    
						<a class="btn btn-success" href="#TasksOpen"> 
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your's{% endif %}
                        tasks in progress</a>    
						<a class="btn btn-success" href="#TasksOpenOthers">others tasks in progress</a>
						<a class="btn btn-success" href="#DiscussionsActive">active projects</a>
						<a class="btn btn-success" href="#DiscussionsLocked">inactive projects</a>
						<a class="btn btn-success" href="#TasksClosed">
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your's{% endif %}
                        achived tasks</a>
						<a class="btn btn-success" href="#TasksFailedAll">
                        everyone's aborted tasks </a>
						<a class="btn btn-success" href="#FollwersList">
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your{% endif %}
                        followers</a>	
						<a class="btn btn-success" href="#FollowingList">
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}is{% else %}you are{% endif %}
                        following </a>	
					</center>
                </div>         
                
            </div>         
 			<div class="row">
                <div class="col-sm-2 col-md-4" id = "UserUpdates">
    	<br>
        <br>
        <br>
                	<center><h2>
                       {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your{% endif %}
                        updates
                        </h2></center>
	                	<ul>
					{% for user_update in user_updates_that_viewer_can_access_list %}
					
					 		<li class="list-group-item">
					 			{% if not user_update.get_if_already_read %}<strong>{% endif %}        	
					        	{% if user_update.header %}
					        		{{ user_update.header |urlize|linebreaks}}
					 			{{ user_update.created_at|naturaltime }}
					        		{% if user_update.get_if_long %}
					        			<a class="btn btn-success" href={{ user_update.get_absolute_url }} >Details</a></p>
					        		{% else%}
					        			{% if user_update.details_url %}
								        	<a class="btn btn-success"  href="{% url 'coplay:user_update_mark_recipient_read'  user_update.id %}">Details</a>
							        	{% endif %}
					        		{% endif %}
					        	{% endif %}
					 			{% if not user_update.get_if_already_read %}</strong>{% endif %}
					 		</li>
					{% empty %}
					    <li class="list-group-item">
					    None					    	
					    </li>
					{% endfor %}
					</ul>
                </div>

                <div class="col-sm-2 col-md-4" id = "TasksOpen">
    	<br>
        <br>
        <br>
                	<center><h2>  
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your's{% endif %}
                        tasks in progress                        
                        </h2></center>
	                	<ul>
					{% for task in tasks_open_by_increased_time_left %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner == applicabale_user%}
					 			<strong>
					 			{% endif %}
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			responsible for <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			  
					 			{{task.target_date | naturaltime }}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >Details</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</strong>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <li class="list-group-item">
					    <a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">Help one of the projects</a>
					    	
					    </li>
					{% endfor %}
					</ul>
                </div>
                <div class="col-sm-2 col-md-4" id = "TasksOpenOthers">
    	<br>
        <br>
        <br>
                	<center><h2>Other's tasks in progress</h2></center>
	                	<ul>
					{% for task in tasks_others_open_by_increased_time_left %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner == applicabale_user%}
					 			<strong>
					 			{% endif %}
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			 responsible for is 
                                     {% if user !=  task.responsible %}
                                     
                                     <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			     {% else %}
                                     you
                                     {% endif %}
					 			  
					 			{{task.target_date | naturaltime }}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >Details</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</strong>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
                </div>
                
				                
            </div>   
            
            <div class="row">
             
             
             
             
                <div class="col-sm-2 col-md-6" id = "DiscussionsActive">
    	<br>
        <br>
        <br>
                	<center><h2>active projects</h2></center>
					<ul>
					{% for discussion in discussions_active_by_increase_time_left %}
					    <li  class="list-group-item">
					    	{% if discussion.owner == applicabale_user %}
					    	<strong>
					    	{% endif %}
                                {% if user !=  discussion.owner %}
                                <a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">
                                {{ discussion.owner.get_full_name|default:discussion.owner.username }}
                                </a>
						    	  Need help in 
                                {% else %}
                                You need help in
                                {% endif %}
						    	{{ discussion.title }}
						    	{{ discussion.updated_at|date }}
						    	might be inactivated by  
						    	{{ discussion.locked_at|naturaltime }}
					
							<a class="btn btn-success" href="{{ discussion.get_absolute_url }}">Details</a>
					    	{% if discussion.owner == applicabale_user %}
					    	</strong>
					    	{% endif %}
						</li> 
					{% empty %}
					    <li class="list-group-item">
					    <a class="btn btn-success"href="{% url 'coplay:add_discussion' %}">Open new project</a>
					    </li>
					{% endfor %}
					</ul>
				
                </div>

                <div class="col-sm-2 col-md-6" id = "DiscussionsLocked">
    	<br>
        <br>
        <br>
                	<center><h2>inactive projects</h2></center>
					<ul>
					{% for discussion in discussions_locked_by_increase_locked_at %}
						<li class="list-group-item">
					    	{% if discussion.owner == applicabale_user %}
					    	<strong>
					    	{% endif %}

                                {% if user !=  applicabale_user %}
                                <a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ applicabale_user.get_full_name|default:applicabale_user.username }}</a>
                                Asked for help
                                    {% else %}
				    	  You'd asked help in  
                                {% endif %}	    	
				    		{{ discussion.title }}.
				    	
				    	  and now it is inactive  
			              	{{ discussion.locked_at|naturaltime }}
						
							<a class="btn btn-success" href="{{ discussion.get_absolute_url }}">Details</a>
					    	{% if discussion.owner == applicabale_user %}
					    	</strong>
					    	{% endif %}
						</li> 
					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
				
                </div>

            </div>
            

            <div class="row">
            	
            	
            	
            	
                <div class="col-sm-2 col-md-6" id = "TasksClosed">
    	<br>
        <br>
        <br>
                	<center><h2>{% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your's{% endif %}
                        achived tasks
                        </h2></center>
	                	<ul>
					{% for task in tasks_closed_by_reverse_time %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner != applicabale_user%}
					 			<strong>
					 			{% endif %}
					 			
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			responsible for is
                                     {% if user !=  task.responsible %}
                                     <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a>,
                                     {% else %}
                                     you,
                                     {% endif %}

                                     
                                     had been achieved by {{task.closed_at |date:"d/n/Y H:i" }}.
                                     Confirmed by

                                     {% if user !=  task.closed_by %}
                                     <a  href="{% url 'coplay:user_coplay_report'  task.closed_by.username %}">{{ task.closed_by.get_full_name|default:task.closed_by.username }}</a>.
                                     {% else %}
                                     you.
                                     {% endif %}

					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >Details</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</strong>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
				
                </div>

                <div class="col-sm-2 col-md-6" id = "TasksFailedAll">
    	<br>
        <br>
        <br>
                	<center><h2>everyone's aborted tasks</h2></center>
	                	<ul>
					{% for task in tasks_failed_by_reverse_update_time  %}

                            <li class="list-group-item">
					 			{% if  task.parent.owner != applicabale_user%}
					 			<strong>
					 			{% endif %}
					 			
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			responsible for is
                                     {% if user !=  task.responsible %}
                                     <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a>,
                                     {% else %}
                                     you,
                                     {% endif %}

                                     
                                     had been aborted by {{task.closed_at |date:"d/n/Y H:i" }}.
                                     Confirmed by

                                     {% if user !=  task.closed_by %}
                                     <a  href="{% url 'coplay:user_coplay_report'  task.closed_by.username %}">{{ task.closed_by.get_full_name|default:task.closed_by.username }}</a>.
                                     {% else %}
                                     you.
                                     {% endif %}

					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >Details</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</strong>
					 			{% endif %}
	
					 		</li>



					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
                </div>


            </div>
            


            <div class="row">
            	
            	
            	
            	
                <div class="col-sm-2 col-md-6" id = "FollwersList">
    	<br>
        <br>
        <br>
                	<center><h2>
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }}'s{% else %}your{% endif %}
                        followers</h2></center>

	               	<ul>
					{% for follower in followers_list %}
					
					 		<li class="list-group-item">

                                 {% if user !=  follower %}<a  href="{% url 'coplay:user_coplay_report'  follower.username %}">{{ follower.get_full_name|default:follower.username }}</a>{% else %}you{% endif %}

                            </li>
					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
				
                </div>

                <div class="col-sm-2 col-md-6" id = "FollowingList">
    	<br>
        <br>
        <br>
                	<center><h2>
                        {% if user !=  applicabale_user %}{{ applicabale_user.get_full_name|default:applicabale_user.username }} is following{% else %}you are following{% endif %}
                        
                    </h2></center>
	               	<ul>
					{% for following in following_list %}

                           <li class="list-group-item">

                                 {% if user !=  following %}<a  href="{% url 'coplay:user_coplay_report'  following.username %}">{{ following.get_full_name|default:following.username }}</a>{% else %}you{% endif %}

                            </li>
					
					 		
					{% empty %}
					    <center><li class="list-group-item">None</li></center>
					{% endfor %}
					</ul>
                </div>


            </div>
            
            
		</div>
		


{% endblock %}

