{% extends 'base.html' %}
{% load i18n %}

{% load humanize %}

{% block content %}
    <div class="row">
        <div id="discussion-detail" class="col-md-12">
            

            <div class="title"><h1>{{ discussion.title }}</h1></div>

            <div class="delete"><h3>
               <a class="btn btn-info pull-right"
               href="{% url 'coplay:start_follow' discussion.id %}">
               get a link to invite</a>
                {% if user == discussion.owner %}
                    <a class="btn btn-danger pull-right"
                       href="{% url 'coplay:discussion_delete' discussion.id %}">
                       Delete project</a>
                    Your project
                {% else %}
                    Project of
                    <a href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ discussion.owner.get_full_name|default:discussion.owner.username }}</a>
                {% endif %}
                {% if discussion.latitude and discussion.longitude %}
                	<a class="new btn btn-info" href="https://www.google.co.il/maps/@{{discussion.latitude}},{{discussion.longitude}},15z" target="_blank">מיקום</a>
                {% else %} 
	                {% if discussion.location_desc  %}
	                	<a class="new btn btn-info" href="https://www.google.co.il/maps/place/{{discussion.location_desc}}" target="_blank">{{discussion.location_desc}}</a> 
	                {% endif %}      
                {% endif %}                
                {% if discussion.parent_url  %}
                related to<a  href={{discussion.parent_url}} target="_blank">  {{discussion.parent_url_text}}</a> 
                {% endif %}      
                {% if is_a_follower %}                
                	<a class="new btn btn-warning" href="{% url 'coplay:stop_follow' discussion.id %}">Stop following this project</a> 
                {% else %}
                	<a class="new btn btn-info" href="{% url 'coplay:start_follow' discussion.id %}">Start following this project </a>   
                {% endif %}
        
            </h3></div>
        </div>
    </div>


    <div id="discussion-shortcuts" class="panel panel-default">
        <div class="panel-body"><a href="#Feedbacks">Feedbacks</a>
            &bull;
            <a href="#Decisions">Surveys/a>
            &bull;
            <a href="#Tasks">tasks</a>
            &bull;
            <a href="#Followers">This projects's followers</a>
            &bull;
            <a href="#Views">Project views</a>
            &bull;
            <a href="#AnonymousViews">Anonymous views</a>
        </div>
    </div>

    <div id="discussion-deadline">
    {% if discussion.is_active %}
        <div class="alert alert-warning">
            may be related as inactive in
            {{ discussion.locked_at | timeuntil }}
        </div>
        
                     
    {% else %}
        <div class="alert alert-error">
        	This project is currently not active. It is a good idea to <a class="new btn btn-info"
               href="{% url 'coplay:create_task' discussion.id %}">Start your own task for support this project</a>   
        </div>
    {% endif %}
												<a class="new btn btn-success" href="{% url 'coplay:add_with_url' %}?parent_url={{ROOT_URL}}{{ request.path }}&parent_url_text={{page_name}}">Add a new related project</a>
												{% if related_discussions %}
                                                <a class="new btn btn-success" href="{% url 'coplay:related_discussions_of_url' %}?parent_url={{ROOT_URL}}{{ request.path }}">See related projects</a>
                                                {% endif %}
                                                 
    <div id="discussion-body" class="well">
        {% if user == discussion.owner and discussion.is_active%}
            <a class="btn btn-info pull-right"
               href="{% url 'coplay:discussion_update' discussion.id %}">Edit</a>
        {% endif %}

        <h4>Project's description</h4>

        <p>{{ discussion.description|urlize|linebreaks }}</p>

        <p>
            <i id="Feedbacks">
                Created
                {{ discussion.created_at | naturaltime }}
                &bull;
                 description updated
                 {{ discussion.description_updated_at | naturaltime }}
                {% trans "Updated:" %}
                {{ discussion.updated_at | naturaltime }}
                {% for tag in discussion.tags.all %}
                <a class="btn btn-primary " href="{% url 'coplay:discussion_tag_list'  tag.id %}">{{ tag.name }}</a>
            		
        		{% endfor %}
                
            </i>
        </p>
    </div>

    <div id="discussion-feedback"
    {% if discussion.owner != user%}
        <p>
            <a class="btn btn-info"
               href="{% url 'coplay:create_feedback' discussion.id %}">Add new comment</a>
        </p>
    {% endif %}
    </div>

    <div class="row" >
        <div class="col-sm-6 col-md-3" >
            <div class="panel panel-default" id="encouragement">
                <div class="panel-heading">
                   Encouragements
                </div>


                <ul class="list-group">
                    {% for feedback in list_encourage %}
                        <li class="list-group-item">
                            <div
                                    {% if feedback.created_at < discussion.description_updated_at %}
                                        class="text-muted"                            {% endif %}    >
                                <a href="{% url 'coplay:user_coplay_report'  feedback.user.username %}">{{ feedback.user.get_full_name|default:feedback.user.username }}</a>:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at | naturaltime }}
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default" id="cooperation">
                <div class="panel-heading">
                    Willing to cooporate
                </div>

                <ul class="list-group">
                    {% for feedback in list_cooperation %}
                        <li class="list-group-item">
                            <div
                                    {% if feedback.created_at < discussion.description_updated_at %}
                                        class="text-muted"                            {% endif %}    >
                                <a href="{% url 'coplay:user_coplay_report'  feedback.user.username %}">{{ feedback.user.get_full_name|default:feedback.user.username }}</a>:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at | naturaltime }}
                            </div>
                                
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-sm-6 col-md-3" >
            <div class="panel panel-default" id="intuition">
                <div class="panel-heading">
                    Intuitions
                </div>

                <ul class="list-group">
                    {% for feedback in list_intuition %}
                        <li class="list-group-item">
                            <div
                                    {% if feedback.created_at < discussion.description_updated_at %}
                                        class="text-muted"                            {% endif %}    >
                                <a href="{% url 'coplay:user_coplay_report'  feedback.user.username %}">{{ feedback.user.get_full_name|default:feedback.user.username }}</a>:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at | naturaltime }}
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default" id="advice">
                <div class="panel-heading">
                    Advices
                </div>


                <ul class="list-group">
                    {% for feedback in list_advice %}
                        <li class="list-group-item">
                            <div
                                   {% if feedback.created_at < discussion.description_updated_at %}
                                        class="text-muted"                            {% endif %}    >
                                <a href="{% url 'coplay:user_coplay_report'  feedback.user.username %}">{{ feedback.user.get_full_name|default:feedback.user.username }}</a>:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at | naturaltime }}
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>

    <div class="row" >
        <div class="col-md-6" id="Tasks">
    	<br>
        <br>
        <br>

            <a class="new btn btn-info pull-right"
               href="{% url 'coplay:create_task' discussion.id %}">Set a new task for help this project</a>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tasks
                </div>


                <ul class="list-group">
                    {% for task in list_tasks %}

                        <li class="list-group-item">
                            {{ task.goal_description|urlize|linebreaks }}<br>{% trans "Responsibility" %}
                            <a href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a>
							{% if task.final_state %}							
                            	{{ task.get_status_display }} {{ task.closed_at | naturaltime }}
                            {% else %}
								   {{ task.get_status_display }} {{ task.target_date | naturaltime }}
								   Ended in    
							{% endif %}
                            <a class="btn btn-success" href={{ task.get_absolute_url }}>
                                    Details</a>
                            

                        </li>
                    {% endfor %}
                </ul>


            </div>
        </div>

        <div class="col-md-6" id="Decisions">
    	<br>
        <br>
        <br>
            {% if add_decision_form and discussion.is_active%}
                        <a class="new btn btn-info pull-right"
                           href="{% url 'coplay:create_decision' discussion.id %}">Add a survay</a>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if user == discussion.owner %}
                        Your survays 
                    {% else %}
                        Survays
                    {% endif %}
                </div>


                {% if list_decision %}
                    <ul class="list-group">
                        {% for decision in list_decision %}
                            <li class="list-group-item">{{ decision.content|urlize|linebreaks }}
                                Created at 
                                {{ decision.created_at | naturaltime }}
                                With {{ decision.get_number_of_votes }} Votes
                                {% if vote_form and user != discussion.owner %}
                                    <h5>Please vote</h5>
                                    <form action="{% url 'coplay:vote' decision.id %}"
                                          method="post">{% csrf_token %}
                                        {% for field in vote_form %}
                                            <div class="fieldWrapper">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                            </div>
                                        {% endfor %}
                                        <input type="submit"
                                               value="Submit"/>
                                    </form>
                                {% else %}
                                    <div id="rating">{% trans "Average Vote" %} {{ decision.get_vote_level_name }} </div>

                                {% endif %}
                                
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>None</p>
                {% endif %}
            </div>


        </div>
    </div>    
    <div class="row" >
    	
        <div class="col-md-4" id="Followers">
    	<br>
        <br>
        <br>


            <div class="panel panel-default">
                <div class="panel-heading">Followers
                </div>


                <ul class="list-group">
                    {% for follower in list_followers %}

                        <li class="list-group-item">
                            {% if user !=  follower %}
                                <a  href="{% url 'coplay:user_coplay_report'  follower.username %}">{{ follower.get_full_name|default:follower.username }}</a> 
                            {% else %}
                            You
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>


            </div>
        </div>

        
        <div class="col-md-4" id="Views">
    	<br>
        <br>
        <br>


            <div class="panel panel-default">
                <div class="panel-heading">Project Views
                </div>


                <ul class="list-group">
                    {% for viewer in list_viewers %}

                        <li class="list-group-item">
                            Recent View   {{ viewer.views_counter_updated_at | naturaltime }}
                            by
                            <a href="{% url 'coplay:user_coplay_report'  viewer.user.username %}">{{ viewer.user.get_full_name|default:viewer.user.username }}</a>
                            Total of
                            {{ viewer.get_views_counter }} 
                            views 
                        </li>
                    {% endfor %}
                </ul>


            </div>
        </div>

        <div class="col-md-4" id="AnonymousViews">
    	<br>
        <br>
        <br>


            <div class="panel panel-default">
                <div class="panel-heading">Anonymous views
                </div>


                <ul class="list-group">
                    {% for viewer in list_anonymous_viewers %}

                        <li class="list-group-item">
                            Recent View   {{ viewer.views_counter_updated_at | naturaltime }}
                            
                            {% if viewer.get_user %}
                           Probably at
                            	<a href="{% url 'coplay:user_coplay_report'  viewer.get_user.username %}">{{ viewer.get_user.get_full_name|default:viewer.get_user.username }}</a>
                            	{{viewer.anonymous_visitor.id}} 
                            {% else %}
                            Anonymous {{viewer.anonymous_visitor.id}}
                            {% endif %}
                            Total of
                            {{ viewer.get_views_counter }} 
                            views 
                        </li>
                    {% endfor %}
                </ul>


            </div>
        </div>
        
        
    </div>


{% endblock %}