{% extends 'base.html' %}
{%  load humanize %}

{% block content %}  
    <div class="row">
     
    <a class="btn btn-success " href="#Tags">Availabale tags</a>
     
    	{% if tag %}
						<a class="btn btn-success"  href="{% url 'coplay:add_with_tag'  tag.id %}">Open a new project, related to {{tag.name}}</a>    	 
		{% if is_following %}                
       		<a class="new btn btn-warning" href="{% url 'coplay:stop_follow_tag'  tag.id %}">Stop following this tag</a> 
		{% else %}
    		<a class="new btn btn-info" href="{% url 'coplay:start_follow_tag'  tag.id %}">Start following this tag</a>   
		{% endif %}
    	 
    		<a class="new btn btn-info" href="{% url 'coplay:start_follow_tag'  tag.id %}">Get a link for follow tag</a>   
    	 
    	 {%else%}
    	{% endif %}
    
    {%if followers %}
    <a class="btn btn-success " href="#Followers">Follwers of {{tag.name}}</a>
    {%endif%}
    </div>
    <div class="row">
    <h1>Projects
    	{% if tag %}
    	 that are tagged by {{tag}}
    	 {%else%}?
    	{% endif %}
    	
    	</h1>
    </div>
    <div class="row">
    	
    <ul>
        {% for discussion in latest_discussion_list %}
            {% if discussion.is_active %}
                <li class="list-group-item">
                
                    {% if user !=  discussion.owner %}
                                <a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">
                                {{ discussion.owner.get_full_name|default:discussion.owner.username }}
                                </a>
						    	  need help in 
                                {% else %}
                                You need help in
                                {% endif %}
                    <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>


<span class="badge">
                   May be considered to be unactive in
                    {{ discussion.locked_at|naturaltime }}</span>
                {% if discussion.latitude and discussion.longitude %}
                	<a class="new btn btn-info" href="https://www.google.co.il/maps/@{{discussion.latitude}},{{discussion.longitude}},15z" target="_blank">Location</a>
                {% else %} 
	                {% if discussion.location_desc  %}
	                	<a class="new btn btn-info" href="https://www.google.co.il/maps/place/{{discussion.location_desc}}" target="_blank">{{discussion.location_desc}}</a> 
	                {% endif %}                
                {% endif %}                
                </li>
            {% else %}
                <li class="list-group-item">
                	<div class="text-muted">
                        {% if user !=  applicabale_user %}
                                <a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ applicabale_user.get_full_name|default:applicabale_user.username }}</a>
                                Asked for help
                                    {% else %}
				    	  You'd asked help in  
                                {% endif %}	  
                        <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>
                        {{ discussion.updated_at|date }}
                    </div>
                    and now it is inactive for  
                    {{ discussion.locked_at|naturaltime }}
                {% if discussion.latitude and discussion.longitude %}
                	<a class="new btn btn-info" href="https://www.google.co.il/maps/@{{discussion.latitude}},{{discussion.longitude}},15z" target="_blank">מיקום</a>
                {% else %} 
	                {% if discussion.location_desc  %}
	                	<a class="new btn btn-info" href="https://www.google.co.il/maps/place/{{discussion.location_desc}}" target="_blank">{{discussion.location_desc}}</a> 
	                {% endif %}                
                {% endif %}                
                </li>
            {% endif %}
        {% empty %}
            <li class="list-group-item"> None </li>
        {% endfor %}
    </ul>
    </div>
    <div class="row" id = "Followers">

	{% if followers %}
    	<br>
        <br>
        <br>
                	<center><h2>Followers for {{tag.name}}?</h2></center>
	               	<ul>
					{% for follower in followers %}
					
					 		<li class="list-group-item">
                                 {% if user !=  follower %}<a  href="{% url 'coplay:user_coplay_report'  follower.username %}">{{ follower.get_full_name|default:follower.username }}</a>{% else %}you{% endif %}
					 			
                             </li>
					{% endfor %}
					</ul>
	{% endif %}
	</div>
    <div class="row" id = "Tags">

	{% if tags_list %}
    	<br>
        <br>
        <br>
                	<center><h2>Tags</h2></center>
    
		
		 
        {% for tag in tags_list %}
        <a class="btn btn-primary " href="{% url 'coplay:discussion_tag_list'  tag.id %}">{{ tag.name }}</a>
    		
		{% endfor %}
	{% endif %}
	</div>
    
{% endblock %}


