{% extends "coplay/email_base.html" %}

{% block content %}
    <br>
    {% if details %}
     <p>
  		{{details|urlize|linebreaks }}    	
    </p>
  	{% endif %}

  <p>
  	
      <a href="{{ROOT_URL}}{{discussion.get_absolute_url}}{{id}}">Project's homepage</a>
      <br>
      <br>
      {% if logged_in_user %}
      <a href="{{ROOT_URL}}{% url 'coplay:user_coplay_report'  logged_in_user %}"> profile {{ logged_in_user.get_full_name|default:logged_in_user.username }}</a>
      <br>
      <br>
      {% endif%}
      <a href="{{ROOT_URL}}{% url 'coplay:stop_follow'  discussion.id %}">Stop updates for this project only</a>
   </p>
      

{% endblock %}

