{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br />
<br />
<br />
	
    <div class="row">
        <div class="col-md-12">

            	<h2> {{task.goal_description |urlize|linebreaks}}</h2>
            	{%if task.result_picture.url != '/media/False' and task.result_picture %}
                <img src={{task.result_picture.url}} class="img-responsive">
            	{% endif %}
            	{%if user == task.responsible %}
					<p>Your are responsible for</p>
					{% if not task.get_time_until_target %}
						{% if task.get_status_description%}
						<p><b>Your latest update  {{task.get_status_description |urlize|linebreaks}} </b></p>					
						{% endif %}
					{% endif %}
            	{%else%}
					<p>	responsible for:  <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a></p>
					{% if task.get_status_description%}
						<p><b>Updated that {{task.get_status_description |urlize|linebreaks}} </b></p>
					{%endif%}
					{% if close_possible %}
						<center>
							{% if task.get_status != task.CLOSED %}
								<a class="btn btn-success" href= "{% url 'coplay:close_task' task.id %}">Confirm completion</a>
							{% endif %}
							{% if task.get_status != task.STARTED %}
								<a class="btn btn-warning" href= "{% url 'coplay:re_open_task' task.id %}">Reopen this goal</a>
							{% endif %}
							{% if task.get_status != task.ABORTED %}
								<a class="btn btn-danger" href= "{% url 'coplay:abort_task' task.id %}">Abort</a>
							{% endif %}
						</center>

					{% endif %}

            	{% endif %}
				<p>Knowm at {{task.get_status_display}}</p>
				<p>Updated at {{task.updated_at| naturaltime }}</p>				
        </div>         
    </div>        
            
	<p>Started on {{task.created_at |date:"d/n/Y H:i" }}</p>
	<p>Target complition  {{task.target_date | naturaltime }}</p>
	<p>Target date {{task.target_date |date:"d/n/Y H:i" }}</p>       
	
	{% if task.closed_at %}
		<p> {{task.closed_at|date:"d/n/Y H:i"  }}Approved by</p>
		<p>	 
            {% if user !=  task.closed_by %}
    <a  href="{% url 'coplay:user_coplay_report'  task.closed_by.username %}">{{ task.closed_by.get_full_name|default:task.closed_by.username }}</a>		
            	{%else%}
        you
	{% endif %}
        
        </p>
	{% endif %}

	{% if update_task_form  %}
		<form action= "{% url 'coplay:update_task_status_description' task.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{% for field in update_task_form %}
					<div class="fieldWrapper">
					{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<br>
				<br>
				<input type="submit" class="btn btn-success" value="Notify other project's followers" />
		</form>
	{% endif %}
	<br>
	
	{% if task.parent %}
	<p>Related to {{task.parent.title |urlize|linebreaks}} <br>
		<a class="btn btn-success" href="{{ task.parent.get_absolute_url }}">Details</a>
	{% endif %}
	                                                 <a class="new btn btn-success" href="{% url 'coplay:add_with_url' %}?parent_url={{ROOT_URL}}{{ request.path }}&parent_url_text={{task.goal_description}}">
        
       Open a project related for achieve this goal</a>
</div>	
{% endblock %}

