{% extends "coplay/email_base.html" %}

{% block content %}
    <br>
    {% if details %}
     <p>
  		{{details|urlize|linebreaks }}    	
    
  	{% endif %}

  <p>
  	
<br>  	
<br>  	
      <a href="{{ROOT_URL}}{% url 'coplay:user_coplay_report'  follower_user.username %}">Watch {{follower_user.get_full_name|default:follower_user.username}} profile</a>
   <br>
   <br>
         <a href="{{ROOT_URL}}{% url 'coplay:discussion_tag_list'  tag.id %}"> See projects that are associated to {{tag.name}}</a>
   </p>
      

{% endblock %}

