{% extends 'base.html' %}
{% load i18n %}

{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
        	<p>
        	{% if user_update.recipient != user %}
       			<a href="{% url 'coplay:user_coplay_report'  user_update.recipient.username %}">{{ user_update.recipient.get_full_name|default:user_update.recipient.username }}</a>
       			had been updated that
        	{% endif %}        	
        	{% if user_update.content %}
       			{{ user_update.content |urlize|linebreaks}}
        	{% else %}
       			{{ user_update.header |urlize|linebreaks}}        		
        	{% endif %}
        	{% if user_update.details_url %}
        	<a class="btn btn-success"  href="{{user_update.details_url}}">Details</a>
        	{% endif %}
        	</p>
        	{{ user_update.created_at|naturaltime }}
        	


		</div>
	</div>

{% endblock %}

