{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>
<center>
        <div class="container" >
			<div class="row">
                <div class="col-sm-12" id = "Shop">
                      <img class="img-responsive" src="/media/minds-corona.png" alt="The corona ANTI virus">
                </div>
            </div> 
 			<div class="row">
                <div class="col-sm-1 col-md-12" id = "EarnPrizes">
                	<br>
                	<br>                	
                	<center>
                			<a class="btn btn-success"  href="{% url 'coplay:discussions_list' %}">לרשימת הפעילויות הקיימות</a>
                	</center>
                </div>
            </div>   
            <div class="row">
                	<center>
                	<br>
                	<br>
                	</center>
            </div>         
 			        
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">

                	<br>
                	<center>
						<a class="btn btn-success"  href="{% url 'coplay:add_discussion' %}">פתיחת פעילות חדשה</a>
					</center>
                	<br>
                </div>
            </div>   
                	<br>
                	<br>
            		<center>
            			<a class="btn btn-success" align ="center" href="{% url 'memecache:users_list'  %}"> רשימת המשתתפים</a>
            		</center>
		
            </div>
    </center>
{% endblock %}

