{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      


    <title>כרטיסים להדפסה</title>
   </head>
<body >

<div class="container">
<div class="thumbnail">

<div class="row">
				{% for card in cards_list %}
        
          <div class="col-sm-3 col-lg-3 col-md-3" >
          <div class="thumbnail">

           <center>
            <h3><strong>
                <p>{{card.private_name}} {{card.family_name}}</p>
                </strong>
                </h3>
                <a href="{% url 'nice_to_meet_you:view_card'  card.id %}" target="_blank">
                <img  class="img-responsive" src={{card.get_qr_code_url}} style="width:120%" alt="...">
                </a>
           </center>
           
      </div>
           
          </div>
				{% endfor %}
        

  </div><!-- /row -->

</div><!-- /container -->
</div><!-- /container -->

  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/jquery-3.3.1.slim.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/popper.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/bootstrap.js' %}" ></script>

</body>
</html>


