{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      


    <title>כרטיסים להדפסה</title>
   </head>
<body >


<div >

<div class="row center">
				{% if card  %}
        
          <div class="col-sm-6 col-lg-12 col-md-12 text-truncate center" >
           <div class="thumbnail">

     <div class="jumbotron">
        <div class="container">
          <h2 class="text-center">{{card.private_name}} {{card.family_name}}</h2>
          <br>
      </div>
           <center>
              <img  class="img-responsive" src={{card.get_qr_code_url}} style="width:100%" alt="...">
           
           <center>
      </div>
        </div>
           
          </div>
				{% endif %}
        

  </div><!-- /row -->


</div><!-- /container -->

  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/jquery-3.3.1.slim.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/popper.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'nice_to_meet_you/bootstrap-4.3.1-dist/js/bootstrap.js' %}" ></script>

</body>
</html>

