{% extends 'base.html' %}

{% block content %}
	
<div id=":rr" class="ii gt m146d7f5c908ba2b1 adP adO"><div id=":qx" class="a3s" style="overflow: hidden;"><u></u>








 


<div title="930510">
<div style="font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif">
<div dir="rtl" style="text-align:right"><h1><a href="http://www.kuterless.org.il" target="_blank">www.kuterless.org.il</a>: מדיניות פרטיות</h1><br>
<h3>שינוי אחרון 2014-06-26 04:35:47</h3>.<br>
<br>
ב<a href="http://www.kuterless.org.il" target="_blank">www.kuterless.org.il</a> מעריכים את פרטיותך ולכן הכינו את מדיניות הפרטיות הזו על מנת להודיע לך מתי מידע נשמר, כיצד הוא מעובד ומה מגולה לגופים אחרים. למרות ש<a href="http://www.kuterless.org.il" target="_blank">www.kuterless.org.il</a> איננו גוף אמריקאי, מדיניות הפרטיות מותאמת ל<a href="http://www.export.gov/safeharbor" target="_blank">הנחיות משרד הייצוא האמריקאי</a> וכן מתאימה לדרישות החוק הישראלי והדירקטיבה האירופית.<br>
<br>
<br>
<b>איזה מידע מזוהה אנו שומרים על אודותייך?</b> אנו שומרים מידע מזוהה על אודותייך, לרבות שם משתמש, שם אמיתי, כתובת דואר אלקטרוני, מזהה ייחודי של מכשיר הקצה (UDID, IMEI, ESN, MAC, וכדומה), חשבונות ברשתות חברתיות או שירותים אחרים, ססמאות לרשתות חברתיות או שירותים אחרים, תמונות, ססמאות מוצפנות, ומידע נוסף אשר תספק לנו מעת לעת.<br>
<br>
<b>איזה מידע לא מזהה אנו שומרים על אודותייך?</b> אנו שומרים גם מידע שאינו מזהה אישית המבוסס על פעילויותייך, כגון: השימוש שלך בשירותים, עמודים בהם צפית, אתרי אינטרנט שהפנו אותך אלינו, המיקום המקורב שלך,  ומידע נוסף שאנו נקבל ממך, בתנאי שיידענו אותך במפורט על איסוף או שמירה כאלו.<br>
<br>
<b>איך אנו מעבדים מידע על אודותייך?</b> אנו נעבד את המידע שיעבור באמצעות השירות ונשתמש בו בהתאם לבקשותייך, אנו גם מעבדים הן מידע אישי והן מידע לא אישי לידי מידע מצטבר שאינו מזהה אישית, יוצרים פרופילים שמאפשרים לנו לתת לך ולמשתמשים אחרים שירות טוב יותר, משתמשים במידע בצורה מצטברת כדי להציג פרסומות או תוכן, משתפים את השותפים או האתרים הקשורים אלינו גם במידע כדי שיציעו את שירותיהם,  כאשר אנו עשויים לעבד את המידע בדרכים נוספות אשר נודיע לך.<br>
<br>
<b>האם אנו שומרים עוגיות בשירות?</b> עוגיה היא קובץ הנשמר על המחשב שלך והמאפשר לאתר האינטרנט לזהות אותך או לאמת את זהותך. כן, אנו מאחסנים עוגיה כאשר אתה משתמש בשירות על מנת לזהות אותך ולאפשר לך להתחבר לשירות, אנו גם עשויים לשתף צדדים שלישיים ולאפשר להם לאחסן עוגיות על המחשב שלך, וכדאי שתבדוק את מדיניות הפרטיות שלהן, .<br>
<br>
<b>למי עוד יש גישה למידע?</b> אנו מספקים גישה למידע אך ורק לגישת העובדים שלנו למידע עלייך מנוטרת, משתמשים אחרים שמתשמשים בשירות ויוצרים עמך קשר, אנו עשויים לאפשר לצדדים שלישיים לגשת למידע אם הם קשורים אלינו,  וכן לצדדים שלישיים שהרשית להם במפורש להעביר מידע זה.<br>
<br>
<b>כיצד אנו נצור עמך קשר?</b> אנו עשויים לשלוח דיוורים מעת לעת, עשויים לשלוח לך הצעות רלונטיות,  כמו כן, אנו עשויים לצור עמך קשר אם אנו מרגישים שהחשבון שלך נפרץ או מסיבות הקשורות לשירות.<br>
 <br>
<b>האם אתה יכול לשנות או למחוק את המידע?</b> אנו מכבדים את פרטיותך ואתה תמיד יכול להשתמש במערכת הניהול שלנו לעיין ולתקן כל מידע אישי או להסיר אותו, אם הדבר דרוש, אתה יכול לשלוח לנו הודעת דואר אלקטרוני ולבקש שנסיר את המידע האישי שלך או נעביר לך עותק שלו, אתה תמיד יכול לסגור את החשבון שלך,  אתה מוזמן לצור עמנו קשר לכל שאלה נוספת.<br>
<br>
<b>כיצד עלייך לפעול אם אתה מרגיש שפרטיותך נפגעה?</b> אם אתה מרגיש שפרטיותך נפגעה, אתה תמיד יכול צור קשר עם קצין הפרטיות שלנו, בדואר אלקטרוני או על ידי טופס 'צור קשר' והגש תלונה,  . כתובת הדואר האלקטרוני של קצין הפרטיות היא: :<a href="mailto:tzahimanmobile@gmail.com" target="_blank">tzahimanmobile@gmail.com</a>.<br>
<br>
<i>מדיניות הפרטיות הזו נוצרה בצורה אוטומטית על ידי <a href="http://jonklinger.wufoo.com/forms/q7x2w5/" target="_blank">מחולל מדיניות הפרטיות</a>, כל הזכויות שמורות 2013, יהונתן קלינגר, עו"ד. מדיניות פרטיות זו מסופקת ללא כל אחריות לטיבה או להתאמתה ואינה מהווה ייעוץ משפטי</i>.</div><br>
<br><br><br>
 
</div></div><div class="adL">
</div></div><div class="adL">


</div></div></div>
{% endblock %}

