{% extends 'base.html' %}

{% load humanize %}

{% block content %}
        <div class="container" >
			<div class="row" id="next_meeting" hidden>
                <div class="col-sm-4" id="coundown_timer">
       
                  
                    <br />
                    <br />
                   
            <h2>Our next community meeting starts in </h2>
            


                                                                                                                                                                                                                                 
                </div> 
                <div class="col-sm-8" id="coundown_timer">
       
                  
                   
            <iframe class ="responsiv"src="http://free.timeanddate.com/countdown/i780u0n1/n676/cf111/cm0/cu5/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pcf90/tcf00/fs275/szw448/szh189/iso2020-04-30T20:00:00/bo3" allowTransparency="true" frameborder="0" width="430" height="191"></iframe>
       
            


                                                                                                                                                                                                                                 
            </div> 
            </div> 

            <div class="row">
                <div class="col-sm-2" >
                  
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                <a class="btn btn-success" href="{% url 'public_fulfillment:sign_up'  %}" target="_blank">Register</a>
                    <br />
                    <br />
                    <br />

						<a class="btn btn-success"  href="{% url 'coplay:add_discussion' %}">Open new project</a>
                    <br />
                    <br />
                    <br />
                    <br />

                			<a class="btn btn-success"  href="{% url 'coplay:discussions_list' %}">Projects</a>
                    <br />
                    <br />
                    <br />
                    <br />

            			<a class="btn btn-success" align ="center" href="{% url 'memecache:users_list'  %}">Community members</a>


                	
                </div>
               
                <div class="col-sm-10" >
                    <a href="{% url 'about' %}">
                      <img class="img-thumbnail" src="/media/nano_hackcorona.png" alt="The corona ANTI virus">
                </a>
                </div>
              
      

            </div>
 		                   
 			<div class="row" id="sponsers">  
                 <h1>Sponsers:</h1>
             
               
                <div class="col-sm-3" >
                    <a href="https://www.linkedin.com/in/tzahi-manistersky-2174755/" target="_blank">
                      <img class="img-responsive" src="/media/NeuroNetLogo.jpg" alt="NeuroNet - Commited to your best Ideas" >
                    </a>
                </div>
                
           
 			</div>   
 			  
 			</div>
		
  </div>
{% endblock %}



