{% extends 'base.html' %}

{% load humanize %}

{% block content %}
        <div class="container" >
			<div class="row">
                <div class="col-sm-4" id="next_meeting">
       
                  
                    <br />
                    <br />
                   
            <h2>Our next community meeting starts in </h2>
            


                                                                                                                                                                                                                                 
                </div> 
                <div class="col-sm-8" id="coundown_timer">
       
                  
                   
                    <iframe class ="responsiv"src="http://free.timeanddate.com/countdown/i780u0n1/n676/cf111/cm0/cu5/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pcf90/tcf00/fs275/szw448/szh189/iso2020-04-21T20:00:00/bo3" allowTransparency="true" frameborder="0" width="400" height="191"></iframe>
       
            


                                                                                                                                                                                                                                 
                </div> 
</div>
    		  
 			</div>
		


{% endblock %}



