{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>

        <div class="container" >
			<div class="row">
                <div class="col-sm-9" >
            

                	<br>
                	<br>
               
<p>The corona virus spread and infect people all over the world.
<p>Changing any aspects of our life. Medicine, Economic, tourism, education, employment and many more that we cannot even anticipate.                                                                                            </p>
<p>A nasty result of evolution….                                                                                                                                                                                                 </p>
<p>But we have the advantage to make ideas to be collectively evaluate between us.                                                                                                                                               </p>
<p>We propose a new strategy for win the corona virus.                                                                                                                                                                           </p>
<p>Our secret weapon is the idea that an amazing new level of cooperation shall make humanity to win.                                                                                                                            </p>
<p>We just need to as many people to believe this idea.                                                                                                                                                                          </p>
<p>Reading this mean that you are already "infected" with this idea and maybe be a carrier  😊                                                                                                                                   </p>
<p>The way to do this is to make as many people to communicate and cooperate, harvest, proliferate, incubate, develop and support the best ideas and technology for facing all the challenges, corona's and maybe many more.     </p>
<p>Open source projects, contributed by anyone, anywhere. No matter where you are.                                                                                                                                               </p>
<p>Number 1 solution for not being board, using all the "spare time" of stay at home.                                                                                                                                            </p>
<p>This Facebook group had been created in 14/2/2020 and had been used since, for share as many information, research, questions and data. Making it a preliminary ideas fermentor.                                              </p>
<p>Who is invited?                                                                                                                                                                                                               </p>
<p>1 – Anyone related to biology and medicine (Professionals and especially the ones who find it interesting)                                                                                                                    </p>
<p>2 – Hackers, programmers,  analysts and bid data experts that can make sense of lots of data and make is accessible, practical and informative to as many people as possible.                                                 </p>
<p>3 – Makers that wish to invent and develop devices and tools                                                                                                                                                                  </p>
<p>4 -  Creative people with lots of ideas that may lead and help and support those novel projects.                                                                                                                              </p>
<p>5 – Anyone else that think that they have nothing to do with this. Your different approach and insights may lead to best ideas!!!                                                                                             </p>
<p>Now, we all realize that instead of doing a "traditional" hackathon is dangerous, we better perform as many small groups sessions, all communicate together at the same time.                                                 </p>
                                                                                                                                                                                                                                 
            </div>                                                                                                                                                                                                               
                <div class="col-sm-3" >
                    <center>
                        
                        <br />
                      <img class="img-responsive" src="/media/minds-corona.png" alt="The corona ANTI virus">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <a class="btn btn-success" href="https://forms.gle/c723wnVe3rWrnkdH9" target="_blank">Join Us</a>
                        </center>
                </div>
                </div>
 		                                                                                                                                                                                                 
            <div class="row">
            </div>   
                <div class="col-sm-4" id = "new project">                                                                                                                                                               
                	<br>
                	<br>                	
                	<center>
						<a class="btn btn-success"  href="{% url 'coplay:add_discussion' %}">Open new project</a>
                	</center>
                	<br>   
                	<br>   

                </div>
                <div class="col-sm-4" id = "list of projects">                                                                                                                                                               
                	<br>
                	<br>                	
                	<center>
                			<a class="btn btn-success"  href="{% url 'coplay:discussions_list' %}">All projects</a>
                	</center>
                    <br>
                	<br>   
                </div>
                <div class="col-sm-4" id = "community members">                                                                                                                                                               
                	<br>
                	<br>                	
                	<center>
            			<a class="btn btn-success" align ="center" href="{% url 'memecache:users_list'  %}">Community members</a>
                	</center>
                	<br>   
                    <br>
                </div>
            </div>         
 			<div class="row" id="sponsers">  
                	<br>                	
                	<br>                	
                <center>
                 <h1>Sponsers</h1>
                	<br>                	
                <div class="col-sm-3" >
                    <a href="https://www.linkedin.com/in/tzahi-manistersky-2174755/" target="_blank">
                      <img class="img-responsive" src="/media/NeuroNetLogo.jpg" alt="NeuroNet - Commited to your best Ideas" >
                    </a>
                </div>
                </center>
 			</div>   
 			
		
  
{% endblock %}

