{% extends 'base.html' %}

{% block content %}
	
	<center>
		<br>
		<h1>לקחת אחריות או לא? להיכנע? לוותר? אולי זה יעזור</h1>
		<br>
		<iframe width="560" height="315" src="//www.youtube.com/embed/oenTa9BluyA" frameborder="0" allowfullscreen></iframe>
		<br>
		<br>
		<br>
		<iframe src="http://embed.ted.com/talks/lang/he/derek_sivers_how_to_start_a_movement.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>		
		<br>
		<br>
		<br>
		<iframe src="http://embed.ted.com/talks/lang/he/simon_sinek_how_great_leaders_inspire_action.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<br>

	</center>

{% endblock %}

