{% extends 'base.html' %}

{% block content %}
	
	<center>
		<b><h1 data-toggle="tooltip" title="Default tooltip">תמיד בבניה</h1></b>
		
					
                        <img src="http://www.bestourism.com/img/items/big/619/Sagrada-Familia-in-Barcelona-Spain_Splendid-architecture_2920.jpg" alt="..." width="400" height="280">
                    
		
		
		
		{% if text_block_0%}
		{{text_block_0 | linebreaks}}
		{% endif %}
	
		<a class="btn btn-success" href="{% url 'coplay:coplay_root' %}">חם מהתנור</a>
		<a class="btn btn-success" href="{% url 'public_fulfillment:about' %}">אודות הפרוייקט</a>
		{% if False == user.is_authenticated %}
		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">הרשמה</a>
		{% endif %}
		<br>
		<br>
		
		<h1><u>מה חדש?</u></h1>
		16/1/2014 :ערכון פרופיל משתמש לרבות סיסמה
		<br>
		שינוי שם מהחלטות להתלבטויות
		<br>
		היפוך שמאל ימין בטופס פעילות

	</center>

{% endblock %}

