{% extends 'base.html' %}

{% block content %}
<br><br>
<b><h1>מייל צריך להזין רק אם מקובל עליך לקבל מאיתנו עדכונים על יכולות חדשות שיתווספו לאתר.</h1></b>

<br><br>
<h1>מייל צריך להזין רק אם מקובל עליך לקבל  הודעות מהאתר</h1>

<br>
<div class="col-xs-12 col-md-4">
	<form action= "{% url 'public_fulfillment:sign_up' %}" method="post">{% csrf_token %}
	{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <br>
	<input type="submit" value="להרשמה" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" />
	</form>
	<a class="btn btn-primary" href="{% url 'login' %}?next={{next}}">כבר רשום</a>
</div>	
{% endblock %}





