{% extends "coplay/email_base.html" %}

{% block content %}

<p>
    {% if details %}
  		{{details|urlize|linebreaks }}
  	{% endif %}

</p>
  <p>
  	You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
      <br />
      <br />
      Please go to the following page and choose a new password:
      <br />
      <br />
      {% block reset_link %}
       <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">choose a new password</a>
      {% endblock %}
 
   </p>
   <br>
Your username, in case you've forgotten: {{ user.get_username }}
   <br>
       <a href="{{ protocol }}://{{ domain }}{% url 'public_fulfillment:stop_email' %}?username={{ user.get_username }}">stop recieve emails from {{ site_name }}</a>
      

{% endblock %}

