{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<br>

        <div class="container" >
			
 			<div class="row">
                <div class="col-sm-1 col-md-12" id = "EarnPrizes">
                	<br>
                	<br>                	
                	<center>
                		{% if user.is_authenticated %}
                			<a class="btn btn-success"  href="{% url 'coplay:user_coplay_report'  user %}">כניסה למשחק</a>
                		{% else %}
                			<a class="btn btn-success"  href="{% url 'coplay:discussions_list' %}">להרויח פרסים</a>
                		{% endif %}
                	</center>
                </div>
            </div>   
            <div class="row">
                	<center>
                	<br>
                	<br>
                	    
                		<a class="btn btn-success"  href="{% url 'memecache:instructions' %}">כמה {{shop.currency_name}} מקבלים ?</a>
                	</center>
            </div>         
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "Shop">
                	<br>
                	<br>
                	<center><a class="btn btn-success"  href="{% url 'memecache:products_list'  shop.id %}">לקנות פרסים ב{{shop.title}}</a></center>
                </div>
            </div>         
 			<div class="row">
                <div class="col-sm-3 col-md-12" id = "PrizeBag">
                	<br>
                	<br>
                	<center><a class="btn btn-success"  href="{% url 'memecache:prize_bag' %}">להשתמש בפרסים שלי</a></center>
                </div>
            </div>   
                	<br>
                	<br>
            		<center>
            			<a class="btn btn-success" align ="center" href="{% url 'memecache:users_list'  %}"> מי משתתף ?</a>
            		</center>
		


{% endblock %}

