{% extends 'base.html' %}

{% block content %}



<center>
	

<center>
	







	<a class="btn btn-success" href="{% url 'coplay:add_discussion' %}">התחלת פעילות חדשה</a>



	<a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">רשימת כל הפעילויות</a>
	
	
		<a class="btn btn-success" href="/labs/coplay/17/details/">פעילות לדוגמה</a>
		<br>
		<br>
		<br>
</center>		
		
				<b><u>מה זה CoPlayWeb ?</u></b>
		<p> גרסה אינטרנטית למשחק CoPlay . זוהי צורת דיון בה כל אחד יכול לקבל עזרה מקבוצה של אנשים. </p>
		<p>המקור לכל הפעילות היא מישהו שממש חשוב לו לעשות משהו. כל האחרים משתתפים כדי לעזור לו. מישהו החליט לעשות במקום לקטר – למה לבד?</p>
		<b><u>איך זה עובד?</u></b>
		<p>למי שרוצה לעשות משהו נקרא ה"יוזם". הוא בוחר בהתחלת פעילות חדשה. הוא רושם את נושא הפעילות ואת תיאור התוצאות אליהם הוא רוצה להגיע ולאיזו עזרה הוא צריך.</p>
		<p>שאר המשתתפים (ה"עוזרים") מגיבים על תיאור התוצאות באחת מ4 סוגי תגובות. עידוד, שיתוף פעולה, עצה או אינטואיציה. חשוב שאם למישהו יש התנגדות שיציע רעיון טוב יותר.</p>
		<p>ה"יוזם" יכול להציע החלטות שהוא רוצה לקבל עליהם חוות דעת. כל "עוזר" יכול להצביע על כל החלטה, החל מ"רעיון מצוין" וכלה ב"רעיון לא טוב. ככה ה"יוזם" יכול לקבל מדד לטיבה של ההחלטה שלו.</p>
		<p>וכשל"יוזם" או כשכל אחד מה"עוזרים"  באמת חשוב לעשות משהו הוא לוקח על עצמו משימה בה הוא מגדיר תוצאה מדידה שהוא יהיה אחראי להשיג ומתי היא תתקיים.</p>
		<p>כל עוד לא חלף הזמן שהאחראי התחייב עליו, המערכת תאפשר לאחראי לעדכן את המצב של התקדמות המשימה ולכל אחד אחר לאשר סגירה (השלמה) או לאשר ביטול של המשימה או לאשר פתיחה מחדש של המשימהץ. אם המשימה לא נסגרה בזמן המערכת תמנע כל עדכון של המצב שלה ותרשום המשימה ככזו שפוספסה. אין פה לא נעים, כל אחד והמילה שלו.</p>
		<b><u>מהם המספרים שבראש כל דף פעילות אישי של משתמש?</u></b>
		<p>מונים שמתעדים כל פעולה שבה המשתמש עזר לאחרים וקידם את הפעילויות שלו.</p>
		<p>בהמשך עשויים מונים אלו לתורגם לכסף וירטואלי בשם MemCashe.</p>
		<p>שיקנה לבעליו שימוש בהגבלת החשיפה של הרעיונות הטובים שלו וחיסיון של הבעיות שלו.</p>
		<b><u>מי מנצח במשחק?</u></b>
		<p>כולם מנצחים !! כי המערכת מעודדת עשיה וקידום פעילויות ופיתרון בעיות.</p>
		<p>כולם מנצחים כי הכללים של המערכת והמשתמשים האחרים בעצם מעבירים את כולם אימון באחריות ומחויבות וחוסר שיפוטיות ושיתוף פעולה</p>
		<p>והכי חשוב זה להיות בתקשורת - גם כשדברים לא עובדים.</p>
		<b><u>חייבים להירשם?</u></b>
		<p>כל אחד יכול לצפות במתרחש אבל אם רוצים ליצור פעילות חדשה או לפרסם הצבעות ועדכונים ולסגור משימות – צריך להירשם ולהיכנס למערכת.</p>
		<b><u>חובה להזין מייל?</u></b>
		<p>רק אם מקובל עליך לקבל מאיתנו עדכונים על יכולות חדשות שיתווספו לאתר.</p>
				
		
	
	 
{% endblock %}

