{% extends 'base.html' %}

{% block content %}

<br><br><br><br><br>



<center>
	<h1></h1>
		והיום, חם מהתנור
 בממשק פיתוח, 
	גרסה מיוחדת של האתר  עם ממשק פיתוח שגם תעזור לכולם לתרגל את האנגלית.
	</h1>
		<br>
		<br><br><br><br><br><br>






	<a class="btn btn-success" href="{% url 'coplay:add_discussion' %}">New discussion</a><br><br><br><br><br><br>



	<a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">Join an existing discussion</a><br><br><br><br><br><br>
		<a class="btn btn-success" href="/labs/coplay/2/details/">דיון לדוגמה</a>
	
	</center>    
{% endblock %}

