{% extends 'base.html' %}

{% block content %}

<br><br>


<center>
	

<center>
	<br>
	<br>
	







	<a class="btn btn-success" href="{% url 'coplay:add_discussion' %}">התחלת פעילות חדשה</a>



	<a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">  עזרה לפעילות קיימת</a>
		<a class="btn btn-success" href="/labs/coplay/2/details/">פעילות לדוגמה</a>
		<br>
		<br>
		<br>
		
	<iframe width="560" height="315" src="//www.youtube.com/embed/nv6cYWM7ngE" frameborder="0" allowfullscreen></iframe>
		
	
	</center>    
{% endblock %}

