{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<center>
	<a class="btn btn-success" href="#TasksOpen">משימות פתוחות אישיות</a>    
	<a class="btn btn-success" href="#TasksOpenOthers">משימות פתוחות של אחרים  </a>
	<a class="btn btn-success" href="#DiscussionsActive">פעילויות פעילות </a>
	<a class="btn btn-success" href="#DiscussionsLocked">פעילויות לא פעילות</a>
	<a class="btn btn-success" href="#TasksClosed">משימות שהושלמו</a>
	<a class="btn btn-success" href="#TasksFailedAll">משימות שנכשלו של כולם</a>
	<a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">רשימת כל הפעילויות</a>
	
	
</center>



        <div class="container" >
			
            	<div class="container">
            	<center>
            		<h1>{{ page_name}}</h1>
            		{{number_of_closed_tasks}} משימות שהושלמו
            	    {{number_of_closed_tasks_for_others}}  מתוכם למשתמשים אחרים 
            	    {{number_of_aborted_tasks}}  משימות שבוטלו בזמן 
            	    {{number_of_task_closing}} אישורי משימות
            	    {{number_of_feedbacks}} תגובות בפעילויות של אחרים
            	    {{number_of_votes}} הצבעות בפעילויות של אחרים
            	    {{number_of_views}} צפיות בפעילויות של אחרים
            	</center>
            	
            	
                </div>         
                
			<div class="row">

                <div class="col-sm-2 col-md-6" id = "TasksOpen">
    	<br>
        <br>
        <br>
                	<center><h2>  משימות פתוחות אישיות </h2></center>
	                	<ul>
					{% for task in tasks_open_by_increased_time_left %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner == applicabale_user%}
					 			<h3>
					 			{% endif %}
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			באחריות <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			  
					 			תסתיים  {{task.target_date | naturaltime }}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >להרחבה</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</h3>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <li class="list-group-item">
					    <a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">לעזור לפעילות קיימת</a>
					    	
					    </li>
					{% endfor %}
					</ul>
                </div>
                <div class="col-sm-2 col-md-6" id = "TasksOpenOthers">
    	<br>
        <br>
        <br>
                	<center><h2>משימות פתוחות של אחרים</h2></center>
	                	<ul>
					{% for task in tasks_others_open_by_increased_time_left %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner == applicabale_user%}
					 			<h3>
					 			{% endif %}
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			באחריות <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			  
					 			תסתיים  {{task.target_date | naturaltime }}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >להרחבה</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</h3>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <center><li class="list-group-item">אין</li></center>
					{% endfor %}
					</ul>
                </div>
                
				                
            </div>   
            
            <div class="row">
             
             
             
             
                <div class="col-sm-2 col-md-6" id = "DiscussionsActive">
    	<br>
        <br>
        <br>
                	<center><h2>פעילויות פעילות</h2></center>
					<ul>
					{% for discussion in discussions_active_by_increase_time_left %}
					    <li  class="list-group-item">
					    	{% if discussion.owner == applicabale_user %}
					    	<h3>
					    	{% endif %}
						    	<a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ discussion.owner.get_full_name|default:discussion.owner.username }}</a>
						    	  רוצה עזרה ב  
						    	{{ discussion.title }}
						    	{{ discussion.updated_at|date }}
						    	עלולה להינעל  
						    	{{ discussion.locked_at|naturaltime }}
					
							<a class="btn btn-success" href="{{ discussion.get_absolute_url }}">פרטים</a>
					    	{% if discussion.owner == applicabale_user %}
					    	</h3>
					    	{% endif %}
						</li> 
					{% empty %}
					    <li class="list-group-item">
					    <a class="btn btn-success"href="{% url 'coplay:add_discussion' %}">התחלת פעילות חדשה</a>
					    </li>
					{% endfor %}
					</ul>
				
                </div>

                <div class="col-sm-2 col-md-6" id = "DiscussionsLocked">
    	<br>
        <br>
        <br>
                	<center><h2>פעילויות לא פעילות</h2></center>
					<ul>
					{% for discussion in discussions_locked_by_increase_locked_at %}
						<li class="list-group-item">
					    	{% if discussion.owner == applicabale_user %}
					    	<h3>
					    	{% endif %}

							<a  href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ discussion.owner.get_full_name|default:discussion.owner.username }}</a>		    	
				    	  רצה/תה  עזרה ב  
				    		{{ discussion.title }}
				    	
				    	  הפעילות ננעלה  
			              	{{ discussion.locked_at|naturaltime }}
						
							<a class="btn btn-success" href="{{ discussion.get_absolute_url }}">פרטים</a>
					    	{% if discussion.owner == applicabale_user %}
					    	</h3>
					    	{% endif %}
						</li> 
					{% empty %}
					    <center><li class="list-group-item">אין</li></center>
					{% endfor %}
					</ul>
				
                </div>

            </div>
            

            <div class="row">
            	
            	
            	
            	
                <div class="col-sm-2 col-md-6" id = "TasksClosed">
    	<br>
        <br>
        <br>
                	<center><h2>משימות אישיות שהושלמו</h2></center>
	                	<ul>
					{% for task in tasks_closed_by_reverse_time %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner != applicabale_user%}
					 			<h3>
					 			{% endif %}
					 			
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			באחריות <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			נסגרה ב {{task.closed_at |date:"d/n/Y H:i" }} 
					על ידי: {{ task.closed_by.get_full_name|default:task.closed_by.username}}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >להרחבה</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</h3>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <center><li class="list-group-item">אין</li></center>
					{% endfor %}
					</ul>
				
                </div>

                <div class="col-sm-2 col-md-6" id = "TasksFailedAll">
    	<br>
        <br>
        <br>
                	<center><h2>משימות שלא הצליחו</h2></center>
	                	<ul>
					{% for task in tasks_failed_by_reverse_update_time  %}
					
					 		<li class="list-group-item">
					 			{% if  task.parent.owner == applicabale_user%}
					 			<h3>
					 			{% endif %}
					 			
					 			{{task.goal_description|urlize|linebreaks}}<br>
					 			באחריות <a  href="{% url 'coplay:user_coplay_report'  task.responsible.username %}">{{ task.responsible.get_full_name|default:task.responsible.username }}</a> 
					 			{{task.get_status_display}}  {{task.updated_at | naturaltime }}
					 			
					 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >להרחבה</a></p>
					 			{% if  task.parent.owner == applicabale_user%}
					 			</h3>
					 			{% endif %}
	
					 		</li>
					{% empty %}
					    <center><li class="list-group-item">אין</li></center>
					{% endfor %}
					</ul>
                </div>


            </div>
            
            
            
		</div>
		


{% endblock %}

