{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'home' %}">
        Home
    </a>
    
    <dl>
        <dt>Company</dt>
        <dd><a href="{{object.company_url}}" target="_blank">
            {{object.company_name}}</a>
        </dd>
    
        <dt>Description</dt>
        <dd>{{object.description|linebreaks}}</dd>
    
        <dt>Tags</dt>
        <dd>{{object.tag_list}}</dd>
    
        <dt></dt>
        <dd></dd>
    
        <dt></dt>
        <dd></dd>
    </dl>
    
{% endblock %}

