{% extends 'base.html' %}

{% block content %}
<center>
	{% if False == user.is_authenticated %}
		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">רישום</a>
		<a class="btn btn-success" href="{% url 'login' %}?next={{request.path}}">כניסה למשתמש קיים</a>
    {% endif %}
	<a class="btn btn-success" href="#Feedbacks">תגובות המשתמשים בפעילות הזאת</a>    
	<a class="btn btn-success" href="#Decisions">התלבטויות של מוביל הפעילות</a>
	<a class="btn btn-success" href="#Tasks">המשימות באחריות המשתתפים</a>
	<a class="btn btn-success" href="{% url 'coplay:coplay_root' %}">הסברים</a>	
   	{% if user == discussion.owner %}
   	<br>
    <a class="btn btn-danger" href="#delete">למחיקת הדיון</a>
    {% endif %}
	
</center>



        <div class="container" >
			
            	<div class="container">
            	<center>
            		<h1>{{ discussion.title |urlize|linebreaks}}</h1>
	            	{% if discussion.is_active %}
	            	
	            	    <h3> אם לא יהיו משימות חדשות, הפעילות עלולה להינעל עוד {{discussion.get_time_to_inactivation }} </h3>
	            	{% else %}
	            	    <h3> הפעילות ננעלה עקב חוסר משימות חדשות</h3>
	            	{% endif %}
            	</center>
            	
            	<p><b>
            	{% if user == discussion.owner %}
	            	זאת הפעילות שלך
            	{% else %}
                	זו הפעילות של {{ discussion.owner.get_full_name|default:discussion.owner.username }}
                {% endif %}
                
               {% if not user.is_authenticated %}
               <center>
               		<h1>כדי להגיב, להצביע או להתנדב למשימה עליך להירשם תחילה </h1>
            		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">הרשמה ראשונה</a>
            		<a class="btn btn-success" href="{% url 'login' %}?next={{request.path}}">כניסה למשתמש קיים</a>
				</center>
               {% endif %}
                
                  
  	

                
                </b>
                
                </p>       
                </div>         
            
            <div class="row">
                <div class="col-sm-2 col-md-6">
				{% if description_form %}
				<h4>עדכון המטרות שלך והעזרה  שאתה צריך</h4>
								
				<form action= "{% url 'coplay:update_goals' discussion.id %}" method="post">{% csrf_token %}
					{% for field in description_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<button type="submit" >עדכן</button>
				</form>
				{% endif %}

				{% if feedback_form %}
				
				<h4>התגובה הבאה שלך</h4>
				
				<form action= "{% url 'coplay:add_feedback' discussion.id %}" method="post">{% csrf_token %}
					{% for field in feedback_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<input type="submit" value="שלח" />
				</form>
				{% endif %}



                </div>
                <div class="col-sm-2 col-md-6">
				{% if discussion.description %}
				    <h4>המטרות של הדיון והעזרה המבוקשת מהמשתתפים</h4> 
				    <p>{{ discussion.description|urlize|linebreaks }}</p>
				    <p> נוצר  ב {{discussion.created_at }} </p>
				    <p> עודכן לאחרונה ב {{discussion.updated_at }} </p>
				{% else %}
				    <p>אין תיאור נוסף</p>
				{% endif %}
				

				
				
				
                </div>

            </div>

            <!-- Example row of columns -->
            <div class="container" >
 
            <div class="row" id="Feedbacks">

                <div class="col-sm-6 col-md-3">
                	<center><h3>עידודים</h3></center>
					    
					<ul>
					{% for feedback in list_encourage %}
					<li class="list-group-item">
					 			<div {% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.get_full_name|default:feedback.user.username }}:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
					                	
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>הצעות לשיתוף פעולה</h3></center>
					    
					<ul>
					{% for feedback in list_cooperation %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.get_full_name|default:feedback.user.username }}:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
					                	
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>אינטואיציה</h3></center>
					    
					<ul>
					{% for feedback in list_intuition %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.get_full_name|default:feedback.user.username }}:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>עצות</h3></center>
					    
					    
					<ul>
					{% for feedback in list_advice %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.get_full_name|default:feedback.user.username }}:{{ feedback.content|urlize|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
                </div>
</div>
        </div> <!-- /container -->

            <div class="row">
                 
                <div class="col-sm-2 col-md-6">
	<br id="Tasks">
	<br>
	<br>
                	
                 <h3>משימות</h3>

				{% if add_task_form %}
				
				<h4>הצהרה שלך על משימה חדשה</h4>
				
				<form action= "{% url 'coplay:add_task' discussion.id %}" method="post">{% csrf_token %}
						{% for field in add_task_form %}
						    <div class="fieldWrapper">
									{{ field.errors }}
								{{ field.label_tag }} {{ field }}
							</div>
						{% endfor %}
					<input type="submit" value="התחייבות לביצוע" />
				</form>
						<p>Example: "10/25/06 14:30 "</p>	
				<h4>רשימת המשימות</h4>
				{% endif %}
				<ul>
				{% for task in list_tasks %}
				
				 		<li class="list-group-item">
				 			{{task.goal_description|urlize|linebreaks}}<br>
				 			באחריות {{ task.responsible.get_full_name|default:task.responsible.username}} 
				 			  
				 			יושלם עד {{task.target_date }} {{ task.get_status_display }}
				 			
				 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >להרחבה</a></p>

				 		</li>
				{% endfor %}
				</ul>
				
				
				

                </div>
                                <div class="col-sm-2 col-md-6">
				<br id="Decisions">
				<br>
				<br>

                 <h3 >התלבטויות של מוביל הפעילות</h3>
					

                 
				{% if add_decision_form %}
				
				
				<form action= "{% url 'coplay:add_decision' discussion.id %}" method="post">{% csrf_token %}
					{% for field in add_decision_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<input type="submit" value="הוסף את ההתלבטות להצבעת הנוכחים" />
				</form>
				

                 <h4 >ההיתלבטויות שלך</h4>
				
				{% endif %}
                 
					{% if list_decision %}    
					<ul>
					{% for decision in list_decision %}
					 		<li class="list-group-item">{{ decision.content|urlize|linebreaks }} 
					 			נוצרה ב:{{ decision.created_at }} עם {{decision.get_number_of_votes}} הצבעות   
					 			{% if vote_form %}
					 				<h5>מה דעתך ?</h5>
									<form action= "{% url 'coplay:vote' decision.id %}" method="post">{% csrf_token %}
										{% for field in vote_form %}
									        <div class="fieldWrapper">
									            {{ field.errors }}
									            {{ field.label_tag }} {{ field }}
									        </div>
									    {% endfor %}
										<input type="submit" value="שליחת הצבעה" />
									</form>
					 			{% else %}
					 				<p>הצבעה ממוצעת: {{decision.get_vote_level_name }} </p>  
					 				
					 				
					 			{% endif %} 			
							</li>
					{% endfor %}
					</ul>
					{% else %}
					<p>  אין התלבטויות</p>
					{% endif %}
                </div> 

            </div>
   	{% if user == discussion.owner %}
   	<br>
   					<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

	<br id="delete">
	<br>
	<br>
	<br>
	<br>
	<center>
		<a class="btn btn-danger" href= "{% url 'coplay:delete_discussion' discussion.id %}">להמשיך במחיקה של {{discussion.title}} ?</a>	
	</center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    
    {% endif %}

{% endblock %}

