{% extends 'base.html' %}

{% block content %}

<h1>{{ discussion.title }}</h1>
<p><b> {{ discussion.owner.username }}</b> Need your help</p>
{% if discussion.description %}
    <h2>In achiving</h2> 
    {{ discussion.description|linebreaks }}
    <p> Last updated at {{discussion.updated_at| date }} {{discussion.updated_at| time }}</p>
{% else %}
    <p>No further description.</p>
{% endif %}


{% if description_form %}

<p><strong>You can change your goals and requested help description</strong></p>

<form action= "{% url 'coplay:update_goals' discussion.id %}" method="post">{% csrf_token %}
	{% for field in description_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<input type="submit" value="Post New description" />
</form>
{% endif %}

{% if feedback_form %}

<p><strong>You can add your feedback here</strong></p>

<form action= "{% url 'coplay:add_feedback' discussion.id %}" method="post">{% csrf_token %}
	{% for field in feedback_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<input type="submit" value="Post Feedback" />
</form>
{% endif %}

    <h3>Encourage</h3>
<ul>
{% for feedback in list_encourage %}
 		<li>
{% if feedback.created_at < discussion.updated_at %}
	<strike>

{% endif %} 			
 			{{ feedback.user.username }}:"{{ feedback.content|linebreaks }}" {{ feedback.created_at | time }}
{% if feedback.created_at < discussion.updated_at %}
 	</strike>

{% endif %} 			
 		</li>
{% endfor %}
</ul>
    <h3>Cooperation</h3>
<ul>
{% for feedback in list_cooperation %}
 		<li>
{% if feedback.created_at < discussion.updated_at %}
	<strike>

{% endif %} 			
 			{{ feedback.user.username }}:"{{ feedback.content|linebreaks }}" {{ feedback.created_at | time }}
{% if feedback.created_at < discussion.updated_at %}
 	</strike>

{% endif %} 			
 		</li>
{% endfor %}
</ul>
    <h3>Intuition</h3>
<ul>
{% for feedback in list_intuition %}
 		<li>
{% if feedback.created_at < discussion.updated_at %}
	<strike>

{% endif %} 			
 			{{ feedback.user.username }}:"{{ feedback.content|linebreaks }}" {{ feedback.created_at | time }}
{% if feedback.created_at < discussion.updated_at %}
 	</strike>

{% endif %} 			
 		</li>
{% endfor %}
</ul>
    <h3>Advice</h3>
<ul>
{% for feedback in list_advice %}
 		<li>
{% if feedback.created_at < discussion.updated_at %}
	<strike>

{% endif %} 			
 			{{ feedback.user.username }}:"{{ feedback.content |linebreaks}}" {{ feedback.created_at | time }}
{% if feedback.created_at < discussion.updated_at %}
 	</strike>

{% endif %} 			
 		</li>
{% endfor %}
</ul>


{% if add_decision_form %}

<p><strong>You can add a new decision here</strong></p>

<form action= "{% url 'coplay:add_decision' discussion.id %}" method="post">{% csrf_token %}
	{% for field in add_decision_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	<input type="submit" value="Post Decision for attendentes grading" />
</form>
{% endif %}

    <h2>Decision</h2>
<ul>
{% for decision in list_decision %}
 		<li>{{ decision.content|linebreaks }} 
 			{{decision.get_number_of_votes}} votes. sum of {{decision.get_vote_sum}}   {{ decision.created_at | time }}
 			{% if vote_form %}
 				<p><strong>What is your vote?</strong></p>
				<form action= "{% url 'coplay:vote' decision.id %}" method="post">{% csrf_token %}
					{% for field in vote_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<input type="submit" value="Vote" />
				</form>
 			{% endif %} 			
		</li>
{% endfor %}
</ul>



{% if add_task_form %}

<p><strong>Want to do something? Post it here</strong></p>

<form action= "{% url 'coplay:add_task' discussion.id %}" method="post">{% csrf_token %}
		{% for field in add_task_form %}
		    <div class="fieldWrapper">
					{{ field.errors }}
				{{ field.label_tag }} {{ field }}
			</div>
		{% endfor %}
	<input type="submit" value="Commit for this Task" />
</form>
{% endif %}

    <h2>Tasks</h2>
<ul>
{% for task in list_tasks %}
 		<li>{{ task.responsible.username }} shall achive {{task.goal_description|linebreaks}}<br> 
 			untill {{task.target_date | date}} {{ task.get_status_display }}<br>
 			<a href="{{ task.get_absolute_url }}">See more</a> 			
 		</li>
{% endfor %}
</ul>




{% endblock %}

