{% extends 'base.html' %}

{% block content %}
<ul class="pagination">
  <li><a href="#Decisions">Related Decisions</a></li>
  <li><a href="#Tasks">Related Tasks</a></li>
  <li><a href="{% url 'coplay:discussions_list' %}">Discussions list</a></li>
  <li><a href="{% url 'coplay:add_discussion' %}">New discussions</a></li>
</ul>



        <div class="container" >
			
            	<div class="container">
            	<center><h1>{{ discussion.title }}</h1></center>
            	<p><b>
            	{% if user == discussion.owner %}
            	This is your discussion
            	{% else %}
                Hosted by {{discussion.owner.get_fullname}} {{ discussion.owner }}
                {% endif %}
                </b>
                
                </p>       
                </div>         
            
            <div class="row">
                <div class="col-sm-2 col-md-6">
				{% if discussion.description %}
				    <h4>Goals and requestes help</h4> 
				    <p>{{ discussion.description|linebreaks }}</p>
				    <p> Last updated at {{discussion.updated_at }} </p>
				{% else %}
				    <p>No further description.</p>
				{% endif %}
                </div>
                <div class="col-sm-2 col-md-6">
				{% if description_form %}
				<h4>Update of goals and requestes help</h4>
								
				<form action= "{% url 'coplay:update_goals' discussion.id %}" method="post">{% csrf_token %}
					{% for field in description_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<button type="submit" >Submit</button>
				</form>
				{% endif %}

				{% if feedback_form %}
				
				<h4>Post your feedback</h4>
				
				<form action= "{% url 'coplay:add_feedback' discussion.id %}" method="post">{% csrf_token %}
					{% for field in feedback_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<input type="submit" value="Post Feedback" />
				</form>
				{% endif %}



                </div>
            </div>

            <!-- Example row of columns -->
            <div class="container" >
            <div class="row">
                <div class="col-sm-6 col-md-3">
                	<center><h3>Encourage</h3></center>
					    
					<ul>
					{% for feedback in list_encourage %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.username }}:{{ feedback.content|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
					                	
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>Cooperation</h3></center>
					    
					<ul>
					{% for feedback in list_cooperation %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.username }}:{{ feedback.content|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
					                	
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>Intuition</h3></center>
					    
					<ul>
					{% for feedback in list_intuition %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.username }}:{{ feedback.content|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
                </div>
                <div class="col-sm-6 col-md-3">
                	<center><h3>Advice</h3></center>
					    
					    
					<ul>
					{% for feedback in list_advice %}
					 		<li class="list-group-item">
					 			<div{% if feedback.created_at < discussion.updated_at %}					 			class="text-muted"				 			{% endif %}	>		
					 			{{ feedback.user.username }}:{{ feedback.content|linebreaks }} {{ feedback.created_at }}
					 		</div>
					 		</li>
					{% endfor %}
					</ul>
                </div>
</div>
        </div> <!-- /container -->

            <div class="row">
                <div class="col-sm-2 col-md-6">
                 <h3 id="Decisions">Decision of discussion owner<br> posted for attendents to vote</h3>


                 
				{% if add_decision_form %}
				
				<h4>You can add a new decision here</h4>
				
				<form action= "{% url 'coplay:add_decision' discussion.id %}" method="post">{% csrf_token %}
					{% for field in add_decision_form %}
				        <div class="fieldWrapper">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
					<input type="submit" value="Post Decision for attendentes grading" />
				</form>
				

				<h4>And those are your decisions</strong></h4>
				
				{% endif %}
                 
					{% if list_decision %}    
					<ul>
					{% for decision in list_decision %}
					 		<li class="list-group-item">{{ decision.content|linebreaks }} 
					 			created:{{ decision.created_at }} with {{decision.get_number_of_votes}} votes   
					 			{% if vote_form %}
					 				<h5>What is your vote?</h5>
									<form action= "{% url 'coplay:vote' decision.id %}" method="post">{% csrf_token %}
										{% for field in vote_form %}
									        <div class="fieldWrapper">
									            {{ field.errors }}
									            {{ field.label_tag }} {{ field }}
									        </div>
									    {% endfor %}
										<input type="submit" value="Vote" />
									</form>
					 			{% else %}
					 				<p>Vote average: {{decision.get_vote_level_name }} </p>  
					 				
					 				
					 			{% endif %} 			
							</li>
					{% endfor %}
					</ul>
					{% else %}
					<p> There are no desisions yet</p>
					{% endif %}
                </div> 
                 
                <div class="col-sm-2 col-md-6">
                	
                 <h3 id="Tasks">Tasks</h3>

				{% if add_task_form %}
				
				<h4>Want to do something? Post it here</h4>
				
				<form action= "{% url 'coplay:add_task' discussion.id %}" method="post">{% csrf_token %}
						{% for field in add_task_form %}
						    <div class="fieldWrapper">
									{{ field.errors }}
								{{ field.label_tag }} {{ field }}
							</div>
						{% endfor %}
					<input type="submit" value="Commit for this Task" />
				</form>
						<p>Example: "10/25/06 14:30 "</p>	
				<h4>Current Tasks</h4>
				{% endif %}
				<ul>
				{% for task in list_tasks %}
				
				 		<li class="list-group-item">
				 				{{ task.responsible.username }} shall achive {{task.goal_description|linebreaks}}<br> 
				 			untill {{task.target_date }} {{ task.get_status_display }}
				 			
				 			<p><a class="btn btn-success" href={{ task.get_absolute_url }} >See more</a></p>

				 		</li>
				{% endfor %}
				</ul>

                </div>
            </div>

{% endblock %}

