{% extends 'base.html' %}
{%  load humanize %}

{% block content %}
    <h1>מי צריך עזרה?</h1>
    <ul>
        {% for discussion in latest_discussion_list %}
            {% if discussion.is_active %}
                <li class="list-group-item">
                
                    <a href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ discussion.owner.get_full_name|default:discussion.owner.username }}</a>
                    רוצה עזרה ב
                    <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>


<span class="badge">
                    עלול להינעל
                    {{ discussion.locked_at|naturaltime }}</span>
                {% if discussion.latitude and discussion.longitude %}
                	<a href="https://www.google.co.il/maps/@{{discussion.latitude}},{{discussion.longitude}},15z" target="_blank">מיקום</a> 
                {% endif %}                
                </li>
            {% else %}
                <li class="list-group-item">
                	<div class="text-muted">
                        <a href="{% url 'coplay:user_coplay_report'  discussion.owner.username %}">{{ discussion.owner.get_full_name|default:discussion.owner.username }}</a>
                        רצה/תה עזרה ב
                        <a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a>
                        {{ discussion.updated_at|date }}
                    </div>
                    הפעילות הוקפאה עקב חוסר נוכחי במשימות חדשות 
                    {{ discussion.locked_at|naturaltime }}
                {% if discussion.latitude and discussion.longitude %}
                	<a href="https://www.google.co.il/maps/@{{discussion.latitude}},{{discussion.longitude}},15z" target="_blank">מיקום</a> 
                {% endif %}                
                </li>
            {% endif %}
        {% empty %}
            <liclass="list-group-item"> אין פעילויות</li>
        {% endfor %}
    </ul>
{% endblock %}


