{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>
        {% blocktrans %}New Activity{% endblocktrans %}
    </h1>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'coplay:add_discussion' %}"
                  method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}

                <div class="alert alert-warning">{% trans "Please notice: To keep this activity unlocked, new tasks must be created at least once per week." %}</div>

                <input type="submit" value="Let's play"/>

            </form>

        </div>
    </div>


{% endblock %}

