{% extends 'base.html' %}

{% block content %}
<ul class="pagination">
  <li><a href="{% url 'coplay:discussions_list' %}">Discussions list</a></li>
  <li><a href="{% url 'coplay:add_discussion' %}">New discussions</a></li>
</ul>

 <div class="jumbotron">
            	<div class="container">
            	<center><h1>The goal of this task is: {{task.goal_description |linebreaks}}</h1></center>
				<p>					
					Responsible: {{task.responsible.username}}
					{% if task.responsible.get_full_name %}
		              	{{task.responsible.get_full_name}} 
			       	{% else %}
			       		 {{task.responsible}}
		            {% endif %}
				</p>
				
				<p>Status : {{task.get_status_display}}</p>
				<p>Target date : {{task.target_date}}</p>       
                </div>         
            </div>
            
				{% if False == user.is_authenticated %}
                <center>
               		<h1>For add your inputs you need to register and login first </h1>
            		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">הרשמה ראשונה</a>
				</center>
               {% endif %}            
<div class="container">

	<p>Time left : {{task.get_time_until_target }}</p>
	<p>Current status description : {{task.get_status_description | linebreaks}} </p>
	
	{% if task.get_status == task.CLOSED %}
		<p>closed at : {{task.closed_at | date}} {{task.closed_at | time}}</p>
		<p>
			By : 
			{% if task.closed_by.get_full_name %}
		              	{{task.closed_by.get_full_name}} 
		   	{% else %}
				{{task.closed_by}}
		    {% endif %}
			
		</p>
	{% endif %}

	{% if close_possible %}
				<a class="btn btn-success" href= "{% url 'coplay:close_task' task.id %}"> close this task</a>
	{% endif %}
	{% if update_task_form  %}
		<p>You can update this task's status here</p>
		<form action= "{% url 'coplay:update_task_status_description' task.id %}" method="post">{% csrf_token %}
				{% for field in update_task_form %}
					<div class="fieldWrapper">
					{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<input type="submit" value="Update Status" />
		</form>
	{% endif %}
	
	{% if task.parent %}
	<p>Retated to a discussion titled : {{task.parent.title | linebreaks}} <br>
		<a class="btn btn-success" href="{{ task.parent.get_absolute_url }}">See more</a>
	{% endif %}
	
</div>	
{% endblock %}

