{% extends 'base.html' %}

{% block content %}
	{% if False == user.is_authenticated %}
	<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">רישום</a>
	<a class="btn btn-success" href="{% url 'login' %}?next={{request.path}}">כניסה למשתמש קיים</a>
    {% endif %}
	<a class="btn btn-success" href="{% url 'coplay:discussions_list' %}">רשימת פעילויות</a>
	<a class="btn btn-success" href="{% url 'coplay:add_discussion' %}">התחלת פעילות</a>
	
	<a class="btn btn-success" href="{% url 'public_fulfillment:about' %}">הגשמה ציבורית</a>	

 <div class="jumbotron">
            	<div class="container">
            	<center><h1> המטרה היא: {{task.goal_description |urlize|linebreaks}}</h1></center>
            	{%if user == task.responsible %}
					<p>	באחריות</p>
            	{%else%}
					<p>	באחריות:  {{task.responsible.get_full_name | default:task.responsible.username}}</p>
            	{% endif %}
				
				<p>מצב : {{task.get_status_display}}</p>
				<p>תאריך יעד : {{task.target_date}}</p>       
                </div>         
            </div>
            
				{% if False == user.is_authenticated  %}
                <center>
               		<h1>כדי לסגור משימה של מישהו אחר או לעדכן את התקדמות המשימה שלך צריך להיכנס למערכת</h1>
            		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">הרשמה ראשונה</a>
            		<a class="btn btn-success" href="{% url 'login' %}?next={{request.path}}">כניסה למשתמש קיים</a>
				</center>
               {% endif %}            
<div class="container">

	<p> זמן לסיום : {{task.get_time_until_target }}</p>
	<p>מצב עדכני : {{task.get_status_description |urlize|linebreaks}} </p>
	
	{% if task.get_status == task.CLOSED %}
		<p> {{task.closed_at }} נסגר ב</p>
		<p>			על ידי: {{ task.closed_by.get_full_name|default:task.closed_by.username}} 		</p>
	{% endif %}

	{% if close_possible %}
				<a class="btn btn-success" href= "{% url 'coplay:close_task' task.id %}">סגירת המשימה</a>
	{% endif %}
	{% if update_task_form  %}
		<p>You can update this task's status here</p>
		<form action= "{% url 'coplay:update_task_status_description' task.id %}" method="post">{% csrf_token %}
				{% for field in update_task_form %}
					<div class="fieldWrapper">
					{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<input type="submit" value="עידכון ההתקדמות" />
		</form>
	{% endif %}
	
	{% if task.parent %}
	<p>  :המשימה קשורה לדיון שכותרתו{{task.parent.title |urlize|linebreaks}} <br>
		<a class="btn btn-success" href="{{ task.parent.get_absolute_url }}">פרטים</a>
	{% endif %}
	
</div>	
{% endblock %}

