{% extends 'base.html' %}

{% block content %}
<center>
	{% if False == user.is_authenticated %}
		<h1>כדי לסגור משימה של מישהו אחר או לעדכן את התקדמות המשימה שלך צריך להיכנס למערכת</h1>
	
		<a class="btn btn-success" href="{% url 'public_fulfillment:sign_up' %}">רישום</a>
		<a class="btn btn-success" href="{% url 'login' %}?next={{request.path}}">כניסה למשתמש קיים</a>
    {% endif %}
	<a class="btn btn-success" href="{% url 'coplay:coplay_root' %}">הסברים</a>
</center>	
	

 	<div class="jumbotron">
           	<div class="container">
            	<center><h1> המטרה היא: {{task.goal_description |urlize|linebreaks}}</h1></center>
            	{%if user == task.responsible %}
					<p>באחריותך</p>
            	{%else%}
					<p>	באחריות:  {{task.responsible.get_full_name | default:task.responsible.username}}</p>
            	{% endif %}
				
				<p>מצב : {{task.get_status_display}}</p>
				<p>תאריך יעד : {{task.target_date}}</p>       
           </div>         
    </div>
            
	<p> התחלה : {{task.created_at }}</p>
	<p> זמן לסיום : {{task.get_time_until_target }}</p>
	<p>מצב עדכני : {{task.get_status_description |urlize|linebreaks}} </p>
	
	{% if task.get_status == task.CLOSED %}
		<p> {{task.closed_at }} נסגר ב</p>
		<p>			על ידי: {{ task.closed_by.get_full_name|default:task.closed_by.username}} 		</p>
	{% endif %}

	{% if close_possible %}
	<center>
		<a class="btn btn-success" href= "{% url 'coplay:close_task' task.id %}">לאישור סגירת המשימה לחץ כאן</a>
	</center>
	{% endif %}
	{% if update_task_form  %}
		<p>You can update this task's status here</p>
		<form action= "{% url 'coplay:update_task_status_description' task.id %}" method="post">{% csrf_token %}
				{% for field in update_task_form %}
					<div class="fieldWrapper">
					{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<input type="submit" value="עידכון ההתקדמות" />
		</form>
	{% endif %}
	
	{% if task.parent %}
	<p>  :המשימה קשורה לדיון שכותרתו{{task.parent.title |urlize|linebreaks}} <br>
		<a class="btn btn-success" href="{{ task.parent.get_absolute_url }}">פרטים</a>
	{% endif %}
	
</div>	
{% endblock %}

