<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->



    <form name="test" novalidate>
      <label>Login</label>
      <input type="text" name="login" ng-model="authorizeClaim.login">
      <br/>
      <label>Code</label>
      <input type="text" name="code" ng-model="authorizeClaim.code">
      <br/>
      <button ng-click="doAuthorizeClaim()">Authorize claim</button>
    </form>



      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones1">
        <li ng-repeat="discussion in discussions | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/discussions/{{discussion.id}}"><h4>{{discussion.title}}</h4></a>
          <!--h4>{{phone.id}}</h4-->
          <!--p>{{discussion.description}}</p-->
          <p>Created at: {{discussion.created_at | date:'medium'}}
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          Locked at: {{discussion.locked_at | date:'medium'}}</p>
          
        </li>
      </ul>

    </div>
  </div>
</div>
